.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__trigger-btn {
  padding: 5px 10px;
  font-size: clamp(13px, 2.3vw, 22px) !important;
}

.dropdown__menu {
  position: absolute;
  min-width: 170px;
  top: 37px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background-color: rgba(201, 198, 198, 0.95);
  font-size: 22px;
  transition: all 0.2s ease-in;
}

.dropdown__menu-btn {
  width: 100%;
  padding: 0 5px;
  background-color: transparent;
}

.dropdown__menu > li {
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.dropdown__menu > li:hover {
  border-radius: 10px;
  background-color: #bdbbbb;
}

@media (hover: hover) and (pointer: fine) {
  .dropdown__menu-btn:hover {
    background-color: transparent;
  }  
}