.btn {
  padding: 5px 16px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #000;
  font-size: clamp(13px, 2.3vw, 20px);
  border-radius: 8px;
  background-color: #eaeaea;
  transition: all 0.2s ease-in;
}

.btn-bg_green {
  background-color: #6fda67;
}

.btn-bg_blue {
  border: 1px solid #64a2ff;
  background-color: #64a2ff;
}

.btn.btn-disabled {
  cursor: not-allowed;
  background-color: #8f8c8c;
}

.btn:active {
  transform: scale(0.97);
}

.btn.btn-disabled:active {
  transform: unset;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: #d6d4d4;
  }

  .btn-bg_blue:hover {
    border: 1px solid black;
    background-color: transparent;
  }

  .btn-bg_green:hover {
    background-color: #5bb455;
  } 

  .btn.btn-disabled:hover {
    background-color: #8f8c8c;
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 5px 10px;
  }
}
