body {
  font-size: 25px;
  color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.line {
  margin: 7px;
  border: 1px solid rgba(96, 96, 96, 0.5);
}
