.user__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 10px;
  border: 1px dashed #000;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.user__card:hover {
  background-color: #e9e9e9;
}

.user__card+.user__card {
  margin-top: 10px;
}

.user__link {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
}

.user__card-body {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.user__card-text {
  font-size: clamp(14px, 2.5vw,19px);
}

.user__card-text-fs_21 {
  font-size: clamp(16px, 2.6vw, 21px);
}

.user__card-text-bold {
  font-weight: bold;
}

@media (max-width: 425px) {
  .user__card {
    padding: 10px 5px;
  }
}