.search {
  display: flex;
  align-items: center;
  column-gap: 5px;
  position: relative;
}

.search__group {
  position: relative;
}

.search__input {
  padding: 4px 5px;
  border: 1px solid #000;
  border-radius: 7px;
  font-size: clamp(15px, 2.6vw, 20px);
}

.search__btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
}

.search__btn:hover {
  border: none;
  transform: scale(1.2);
  background-color: transparent;
  animation: rotate 0.4s ease-in;
}

.search__list {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  background-color: rgba(201, 198, 198, 0.95);
  border-radius: 10px;
  font-size: clamp(15px, 2.6vw, 21px);
  z-index: 1;
}

.search__list-item {
  padding: 6px 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.search__list-item:has(+.search__list-item)::before {
  position: absolute;
  content: '';
  height: 1px;
  bottom: 0;
  left: 18px;
  right: 18px;
  background-color: #000;
}

.search__list-item:hover {
  border-radius: 10px;
  background-color: #bdbbbb;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(-100deg);
  }
}
