.card {
  padding: 15px;
  border: 1px solid black;
  border-radius: 13px;
}

.card + * {
  margin-top: 18px;
}

.card__title {
  font-size: clamp(16.5px, 2.5vw, 28px);
  font-weight: bold;
}

.card__title + * {
  margin-top: 15px;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  margin-top: 15px;
  padding-top: 8px;
  border-top: 1px dashed black;
}

.card__author {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.card__author img {
  transition: transform 0.3s ease-in;
}

.card__author img:hover {
  transform: scale(1.2);
}

.card__comments {
  margin-top: 12px;
  padding-left: 20px;
}
