.posts {
  padding: 15px 0;
}

.posts__content {}

.posts__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.posts__titles + * {
  margin-top: 15px;
}

.posts__cards {
  margin-top: 20px;
}
