.users {}

.users__content {}

.users__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.user__info {
  margin-top: 30px;
}

.users__cards {
  margin-top: 30px;
}

.users__cards+* {
  margin-top: 20px;
}
