.users {
  padding: 15px 0;
}

.users__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.user__info {
  margin-top: 30px;
}

.user__info + * {
  margin-top: 25px;
}

.user__posts {
  margin-top: 10px;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.user__posts + * {
  margin-top: 40px;
}

.users__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users__cards {
  margin-top: 30px;
}

.users__cards + * {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .user__posts + * {
    margin-top: 20px;
  }

  .users__cards {
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .user__info {
    margin-top: 15px;
  }

  .user__info + * {
    margin-top: 17px;
  }
}
